@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
  
  /* New Design Tokens */
  --color-primary: #022c22; /* Deep Forest Green */
  --color-accent: #bef264; /* Lime Green */
  --color-surface: #f7fee7; /* Very Light Lime/Mint */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
